<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="PAYVISION_API_BASE_URI" value="https://stagconnect.acehubpaymentservices.com/gateway/v3"/>
        <env name="PAYVISION_API_USERNAME" value=""/>
        <env name="PAYVISION_API_PASSWORD" value=""/>
        <env name="PAYVISION_BUSINESS_ID" value=""/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
